@font-face {
    font-family: "PF-StartDust";
    src: url("../assets/fonts/PF-StarDust.ttf") format("truetype");
}

@font-face {
    font-family: "PF-StartDust-Bold";
    src: url("../assets/fonts/PF-StarDust-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "PF-StartDust-ExtraBold";
    src: url("../assets/fonts/PF-StarDust-ExtraBold.ttf") format("truetype");
}

.loading-text {
    font-size: 25px;
    padding: 10px 20px;
    font-family: "PF-StartDust-ExtraBold";
    /* 픽셀 폰트 */
    position: absolute;
    /* 절대 위치 설정 */
    top: 50%;
    /* 화면 세로 중앙 */
    left: 50%;
    /* 화면 가로 중앙 */
    transform: translate(-50%, -50%);
    /* 중앙 정렬을 위한 변환 */
    color: white;
    /* 텍스트 색상 */
    text-align: center;
    /* 텍스트 중앙 정렬 */
}


@media all and (max-width:430px) {
    .loading-text {

        font-size: 25px;
        padding: 10px 0px;
        font-family: "PF-StartDust-ExtraBold";
        /* 픽셀 폰트 */
        position: absolute;
        /* 절대 위치 설정 */
        top: 50%;
        /* 화면 세로 중앙 */
        left: 50%;
        /* 화면 가로 중앙 */
        transform: translate(-50%, -50%);
        /* 중앙 정렬을 위한 변환 */
        color: white;
        /* 텍스트 색상 */
        text-align: center;
        /* 텍스트 중앙 정렬 */
    }
}